.idea/
*.iml
kyu*/target/*
kyu*/src/main/resources
kyu*/src/main/test
kyu*/*.class
kyu*/pom.xml

freestyle/target/*
freestyle/src/main/resources
freestyle/src/main/test
freestyle/*.class
freestyle/pom.xml